
body {
    margin: 0;
    font-family: Poppins, sans-serif;
    color: black;
    background-color: #e0d6d698;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* BARRA NAVEGACION */
header {
    background-color:#000000c4;
    width: 100%;
    height: 50px;
    margin-top: 0;
    border: 1px solid #000000c4;
}

.menu-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: 30px;

}
.menu-bar a {
    color: #ffffff;
    font-size: 14px;
    padding: 5px;
    letter-spacing: 0.3px;
}

a:hover {
    color: #ffbb01;
    transition: opacity .15s ease-in;
}

.sec-central {
    margin-top: 10px;
    color: #000000f1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: 20px;
    padding: 10px;

}

.product-card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    gap: 10px;
    padding: 10px;
    margin-left: 10px;
    width: 150px;
}

.product-card-detail {
    width: 400px;
}

.product-card img{
    width: 130px;
    height: 100px;
    padding-bottom: 10px;
}

.product-card h3{
    font-weight: 600;
}

.product-card-detail p{
    margin: 5px;
}

.product-card-detail p:nth-last-child(2) {
    padding-bottom: 30px; 
}

.product-card span{
    font-weight: bold;
}

.product-card-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    gap: 30px;
    padding: 20px;
}

.button{
    background-color: #4340eef3;
    color: #fffffff8;
    border-radius: 4px;
    width: 140px;
    height: 20px;
    padding: 7px;
}